<!DOCTYPE html>
<html>
<body>
	<div style="color:  #000000; background: #EEEEEE; opacity: 0.50;";><h2>About us</h2>
	<p style = "font-weigth: bold";>Dimitar Bakardzhiev (51772509) and Ashley Lee (51772821), students in MSc Information Technology at the University of Aberdeen. <br><br> Contact information: d.bakardzhiev.10@aberdeen.ac.uk | ashley.lee.17@aberdeen.ac.uk</p></div>

<!-- code adopted from:
#Title: "HTML Images" 
#Author: W3Schools Online Web Tutorials
#Availability: https://www.w3schools.com/html/html_images.asp -->	

	<img src="/dimitar.jpg" alt="Dimitar Bakardzhiev" style="width:460;height:420px;float: left">
	<img src="/ashley.jpg" alt="Ashley Lee" style="width:460;height:420px;float: right;">	
</body>
</html>