<div class = "homepagetext">
	<p>Hello and welcome to our Wiki dedicated to the notorious Conor Mcgregor</p> 
</div>

<div class = "homepagetext1"><br>
	<%=$myinfo%>
</div>

<div  style = "background-color: #EEEEEE; height:400px; width: 300px; float: left; opacity: 0.50;"><br>	
	<div class = "sidebar"> Number of characters: <%=@characters%> <br><br>
	Number of words: <%=@words%><br><br>
	Number of sentences: <%=@sentence%>
	</div>
</div>
