<p style = "color: yellow; font-size: 150%">Hello there</p>
	<% if @Userz%>
    	<article>
			<p style = "font-size: 110%"><%=@Userz.username%>, hope you are enjoying our wiki!</p>
		</article>
	<%end%>
