<form action="/answers">
<div class = "questions">
    <h3 style = "color: yellow">When was Conor born?</h3>
    <input type="radio" name="birthday" value="14th July 1988">14th July 1998<br>
    <input type="radio" name="birthday" value="1st August 1988">1st August 1988<br>
    <input type="radio" name="birthday" value="3rd December 1986">3rd December 1986<br>
    <input type="radio" name="birthday" value="21st October 1986">21st October 1986<br>

    <h3 style = "color: yellow">When did Conor join UFC?</h3>
    <input type="radio" name="joinufc" value="December 2013">December 2013<br>
    <input type="radio" name="joinufc" value="February 2013">February 2013<br>
    <input type="radio" name="joinufc" value="January 2014">January 2014<br>
    <input type="radio" name="joinufc" value="February 2014">February 2014<br>
    

    <h3 style = "color: yellow">Who did Conor beat for the Lightweight Championship?</h3>
    <input type="radio" name="championship" value="Nate Diaz">Nate Diaz<br>
    <input type="radio" name="championship" value="Jose Aldo">Jose Aldo<br>
    <input type="radio" name="championship" value="Eddie Alvarez">Eddie Alvarez<br>
    <input type="radio" name="championship" value="Chad Mendez">Chad Mendez<br>
    </div>

    <div class = "questions1">
    <h3 style = "color: yellow">Did Conor beat the record for the fastest knockout in a title fight?</h3>
    <input type="radio" name="record" value="True">True<br>
    <input type="radio" name="record" value="False">False<br><br>
    

    <h3 style = "color: yellow">What is Conor's signature knockout move?</h3>
    <input type="radio" name="move" value="Roundhouse Kick">Roundhouse Kick<br>
    <input type="radio" name="move" value="Left Hand">Left Hand<br>
    <input type="radio" name="move" value="Right Uppercut">Right Uppercut<br>
    <input type="radio" name="move" value="Spinning Elbow">Spinning Elbow<br>

    <h3 style = "color: yellow">Before his fighting career began, Conor was training to be:</h3>
    <input type="radio" name="job" value="An Electrician">An Electrician<br>
    <input type="radio" name="job" value="A Mechanic">A Mechanic<br>
    <input type="radio" name="job" value="A Welder">A Welder<br>
    <input type="radio" name="job" value="A Plumber">A Plumber<br>
</div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <input class="button1" style = "font-family: Comic Sans MS; font-weight: bold" type="submit" value="Submit">

</form>