<!DOCTYPE html>
<html>
<body>
<div id = "b">
	<h3>Top 5 Full Fights</h3>
	<a href = "http://www.ufc.com/media/UFC-189-Alienware-Free-Fight-McGregor-vs-Brimage-V2/embed?width=560&height=315">McGregor vs. Brimage</a><br><br> <!-- [11] -->
	<a href = "http://www.mma-core.com/videos/Conor_McGregor_vs_Diego_Brandao_UFC_Fight_Night_46_Full_Fight/10105604">McGregor vs. Brandao</a><br><br> <!-- [12] -->
	<a href = "https://ok.ru/video/31282629146">McGregor vs. Holloway</a><br><br> <!--[13] -->
	<a href = "http://www.mma-core.com/videos/Conor_McGregor_vs_Dustin_Poirier_UFC_178_Full_Fight/10105605">McGregor vs. Poirier</a><br><br> <!-- [14] -->
	<a href = "http://www.mma-core.com/videos/Conor_McGregor_vs_Dennis_Siver_UFC_Fight_Night_59_Full_Fight_Part_1/10105606">McGregor vs. Siver</a> <!-- [15] -->
</div>

<!-- code adopted from:
#Title: "HTML YouTube Videos" 
#Author: W3Schools Online Web Tutorials
#Availability: https://www.w3schools.com/html/html_youtube.asp -->	

	<div id = "clips">
		<br><br><br>	
		<p style = "font-weight: bold; font-size: 20px; text-align: center">Top 10 Finishes</p>
		<iframe width="600" height="450" src="https://www.youtube.com/embed/WNZfMTOcfdM" frameborder="0" allowfullscreen></iframe> <!-- [9] -->
	</div>
</body>
</html>